* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}
canvas {
    width: 100%;
    height:100vh;
    background: radial-gradient(ellipse at center, rgba(76,76,26,1) 0%,rgb(27, 47, 14) 0%,rgba(0,0,0,1) 100%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgba(76,76,26,.2);
    margin: 0;
}

footer p {
    padding: 4px 0;
}

footer a,
footer p {
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1.3px;
}

.love {
    color: #4aa30b;
}

footer a {
    color: #4aa30b;
    text-decoration: none;
}